<ion-header class="ion-no-border">
  <ion-toolbar>
    
    
    <ion-buttons slot="end">
      <ion-button expand="block" (click)="backLogin()" >Back to login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background-image: url('assets/ui.jpg' ); " >
  <div id="header">
    <h1>reset-password</h1>
    
  </div>

  <form id="form">
    
    <div>
      <ion-item>
        <ion-input [(ngModel)]="user.email" name="email" type="emai" #emai placeholder="azerty@gmail.com" ngModel required></ion-input>
      </ion-item>
      
    </div>

      <ion-button expand="block"  class="submit-btn" shape="round" fill="solid"  type="submit"(click)="resetPass()"  > login </ion-button>
       

      
    
  </form>
</ion-content>